* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
}

.center {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);

}

.header {
    background: #222222;
    height: 75px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.header__buttons__left {
    display: flex;
    align-items: flex-end;
    padding-bottom: 18px;
    padding-top: 18px;
    margin-left: 231px;
    gap: 41px;
    width: 111px;
}

.header__buttons__right {
    padding-bottom: 20px;
    padding-top: 26px;
    margin-right: 240px;
    display: flex;
    align-items: flex-end;
    gap: 33px;
}

.top__content {
    background: #F1E4E6;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.title {
    display: flex;
    width: 377px;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: 289px;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.subtitle__big {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.subtitle__small {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.top__image {
    padding-right: 64px 
}

.links {
    display: grid;
    
    justify-content: center;
    justify-items: start;
    align-content: center;
    align-items: start;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    padding-top: 65px;
    padding-bottom: 96px;
}

.link__item {
    position: relative;
}

.link__item__big {
    position: relative;
}
.link__content {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.link__title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

.products__item {
    grid-template-columns: repeat(3, 360px);
    display: grid;
    gap: 30px;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.product__heading {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-bottom: 46px;
}
.product__title {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #222222;
}
.product__item {
    background: #F8F8F8
}
.product__top_text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #9F9F9F;
}
.product__item__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}
.product__item__text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}
.product__content {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    padding-top: 23px;
    padding-bottom: 20px;
    padding-left: 16px;
}

.product__item__price {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}
.button {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    padding: 15px 39px;
    background-color: white;
    border: 2px solid #F26376;
    margin: 0 auto;
    display: block;
    margin-top: 48px;
    margin-bottom: 60px;
}

/* img {
    opacity: 0.5;
} */

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 368px);
        padding-right: calc(50% - 368px);
    }
    .top {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .header {
        gap: 424px;
    }
    .header__buttons__left {
        margin-left: 32px;
        
    }
    .header__buttons__right {
        padding-bottom: 18px;
        padding-top: 18px;
        margin-right: 32px;
        width: 169px;
    }
    .top__image {
        width: 386px;
        padding-right: 39px;
    }
    .title {
        width: 311px;
        margin-top: 138px;
    }
    .subtitles {
        height: 92px;
    }
    .subtitle__big {
        font-size: 44px;
        line-height: 53px;
        text-align: left;
    }
    .subtitle__small {
        font-size: 24px;
        line-height: 29px;
        text-align: left;
    }
    .links {
        display: grid;
        grid-template-columns: repeat(3, 232px);
        gap: 18px;
        padding-bottom: 109px;
    }
    .link__image {
        width: 232px;
    }
    .link__image__big {
        width: 734px;
    }
    .product__heading {
        gap: 3px;
        margin-bottom: 72px;
    }
    .products__item {
        grid-template-columns: repeat(2, 360px);
        display: grid;
        gap: 16px;
    }
    .button {
        margin-top: 32px;
        margin-bottom: 70px;
    }
}

@media(max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .hidemobile {
        visibility: hidden;
        display: none;
    }
    .top__image {
        visibility: hidden;
        display: none;
    }
    .top {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header {
        gap: 200px;
    }
    .header__buttons__right {
        display: flex;
        justify-content: flex-end;
        width: 32px;
        margin-right: 16px;
    }
    .header__buttons__left {
        margin-left: 16px;
    }
    .top__content {
        width: 100vw;
        justify-content: space-around;
        align-items: center;
    }
    .title {
        width: 263px;
        height: 66px;
        margin-top: 148px;
        margin-bottom: 149px;
        align-items: flex-start;
    }
    .subtitle__big {
        font-size: 38px;
        line-height: 46px;
    }
    .subtitle__small {
        font-size: 20px;
        line-height: 24px;
    }
    .links {
        display: grid;
        grid-template-columns: repeat(1, 343px);
        gap: 32px;
        padding-bottom: 64px;
        padding-top: 64px;
    }
    .link__image {
        width: 343px;
    }

    .link__image__big {
        width: 343px;
        height: 111px;
        object-fit: cover;
        object-position: 0 0;
    }
    .product__heading {
        margin-bottom: 64px;
    }
    .products__item {
        grid-template-columns: repeat(1, 360px);
        gap: 15px;
    }
    .button {
        margin-top: 40px;
        margin-bottom: 85px;
    }
}